only-built-dependencies[]=@google/genai
only-built-dependencies[]=@prisma/client
only-built-dependencies[]=@prisma/engines
only-built-dependencies[]=better-sqlite3
only-built-dependencies[]=electron
only-built-dependencies[]=electron-winstaller
only-built-dependencies[]=esbuild
only-built-dependencies[]=prisma
only-built-dependencies[]=protobufjs
only-built-dependencies[]=puppeteer
only-built-dependencies[]=sharp
only-built-dependencies[]=unrs-resolver

